# Dependencies
node_modules/

# Build output
dist/

# Expo / React Native
.expo/
.expo-shared/

# IDE / editor caches
.idea/
.reasonix/
.workbuddy

# Watchman
.watchmanconfig

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*
*.local
